.card {
    border-radius: 16px;
    background-color: #fff;
    gap: 16px;
}

.card-title {
    color: #1A1C1E;
    letter-spacing: -0.02rem;
}

.balance {
    color: #1A1C1E;
    font-size: 32px;
    line-height: 150%;
    height: 48px;
    gap: 9px;
}

.card > .top-card {
    height: 24px;
}

.card > div:last-child {
    gap: 6px;
}